@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * {
    font-family: 'Noto Sans KR', sans-serif;
}

html {
    'Noto Sans KR';
}

footer {
    width: 100%;
    text-align: right;
    height: 10rem;
    color: #fbffde;
    font-size: 0.8rem;
    font-weight: 100;
    letter-spacing: 0.1rem;
}

footer a {

    text-decoration: none;
    color: #fbffde;
    font-size: 1.0rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
}

nav {
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #2b2b2e;
    z-index: 100;
}

nav table tr td {
    padding: 0 0.2vw;
}

nav table tr td a {
    border-radius: 1.3rem;
    text-decoration: none;
    color: #f7ff82;
    font-size: 1.1rem;
    text-align: center;
    padding: 0.5rem;
    font-weight: 400;
    letter-spacing: 0.13rem;

}

a {
    text-decoration: none;
    color: black;
}


.button:hover {
    background-color: #f7ff82;
    color: #18181b;
    border-radius: 1.3rem;
    transition: 0.3s;
}

#logo {
    width: 4.1rem;
    padding: 0 0.4rem;
}

.po {
    right: 0px;
    color: black;
    background-color: #f7ff82;
    padding: 0.5rem;
    border-radius: 1.3rem;
}

.po:hover {
    background-color: #18181b;
    color: #f7ff82;
    transition: 0.3s;
}

body {
    margin-top: 8rem;
    background: linear-gradient(to bottom, #18181b, #2b2b2e);
    color: #fbffde;
}

.card {
    padding: 0 15% 0 15%;
    margin: 0 auto;
}


.main {
    width: 90%;
    margin: 0 auto;
    border: 1px solid none;
    border-radius: 3rem;
}

.side {
    width: 5%;
}

.text {
    margin: 0 0;
    color: #3c3d36;
    font-weight: 900;
    font-size: 3.5rem;
    right: 5rem;

    text-shadow: -1px 0 #fbffde, 0 1px #fbffde, 1px 0 #fbffde, 0 -1px #fbffde;

    animation: slide-in-bottom .7s cubic-bezier(.25, .46, .45, .94);
}

#title {
    color: rgba(251, 255, 222, 0.8);
    font-size: clamp(5rem, 13vw, 50rem);
    font-weight: 900;
    width: 100%;
    animation: slide-in-bottom2 1.1s cubic-bezier(.25, .46, .45, .94);
    //box-shadow: 0 0 25rem 1rem rgba(224, 207, 155, 0.35) inset;
}

#tiger {
    width: 28%;
    z-index: -1;
    animation: rotate_image 1s linear;
    transform-origin: 50% 50%;
}


@keyframes rotate_image {
    100% {
        transform: rotate(-360deg);
    }
}

#tx {
    font-weight: 100;
    font-size: 0.7rem;
    position: absolute;
    width: 25%;
    text-align: right;
    color: #44444a;
    z-index: -2;
}

#team {
    text-shadow: -1px 0 #fbffde, 0 1px #fbffde, 2px 0 #fbffde, 0 -1px #fbffde;
    color: #18181b;
    width: 82%;

}

#giant {
    mix-blend-mode: color-dodge;
    border: 1px solid #fcffd1;
    text-align: center;
    width: 100%;
    min-width: 21rem;
}

#circle1 {
    background: linear-gradient(to bottom, #44444a, #f7ff82);
    top: 18.5rem;
    left: -20rem;
    width: 35vw;
    height: 35vw;
    border-radius: 100%;
    z-index: -1;
    position: absolute;
    background-attachment: fixed;
    overflow-x: hidden;
}

#circle2 {
    background: linear-gradient(to bottom, #fcffd1, #f7ff82);
    top: -33rem;
    right: 0;
    width: 30vw;
    height: 60vw;
    border-radius: 60vw 0 0 60vw;
    position: absolute;
    background-attachment: fixed;
    z-index: -1;
    overflow: hidden;
}

#circle3 {
    background: linear-gradient(to bottom, #44444a, gray);
    left: -10rem;
    top: 55rem;
    width: 40vw;
    height: 40vw;
    border-radius: 100%;
    position: absolute;
    background-attachment: fixed;
    z-index: -1;
    overflow: hidden;
}

#circle4 {
    background: linear-gradient(to bottom, #44444a, #2b2b2e);
    right: 0;
    top: 85rem;
    width: 30vw;
    height: 30vw;
    border-radius: 100%;
    position: absolute;
    background-attachment: fixed;
    z-index: -1;
    overflow: hidden;
}

.line {
    width: 100%;
    border: 1px solid #fcffd1;
}

#recommend {
    background-color: #f7ff82;
    padding: 0.5rem 0;
    font-size: 0.9rem;
    font-weight: 600;
    color: #18181b;
    text-align: center;
}

@media (min-width: 815px) {
    #recommend {
        display: none;
    }
}

.headline {
    background: linear-gradient(to right top, #fbffde, #f5ff3d);
    color: transparent;
    -webkit-background-clip: text;
    margin-top: 11rem;
    text-align: center;
    font-weight: 600;
    font-size: clamp(1.2rem, 2.6vw, 10rem);
    margin-bottom: 3rem;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-5-6 22:58:6
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@keyframes slide-in-bottom {
    0% {
        transform: translateY(20px);
        opacity: 0
    }

    100% {
        transform: translateY(0);
        opacity: 1
    }
}

@keyframes slide-in-bottom2 {

    0% {
        transform: translateY(20px);
        opacity: 0
    }

    50% {
        transform: translateY(20px);
        opacity: 0
    }

    100% {
        transform: translateY(0);
        opacity: 1
    }
}

p {
    line-height: 170%;
    margin: 3% 15%;
    font-size: clamp(0.2rem, 1.2vw, 5rem);
    font-weight: 200;
}

.card2 {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 10%;
    height: 10rem;
}

.menu_bar {
    display: inline-block;
    border: 1px solid gray;
    border-radius: 15%;
    color: black;
    width: 15vw;
    margin: 0 1%;
    height: 10vw;
    padding: 0.5rem;
    text-align: left;
    font-size: clamp(0.2rem, 2.5vw, 5rem);
    text-align: center;
    font-weight: 600;
    -webkit-animation: shadow-drop-2-center .4s cubic-bezier(.25, .46, .45, .94) both;
}

.menu_bar:hover {
    padding: 1.1rem;
    transition-duration: .5s;
}

.box_tx {
    background: linear-gradient(to right top, gray, black);
    color: transparent;
    -webkit-background-clip: text;
}

.mini_tx {
    padding: 0.7rem 0;
    font-size: clamp(0.2rem, 1.1vw, 3rem);
    text-align: center;
}


/* ----------------------------------------------
 * Generated by Animista on 2023-5-18 21:56:38
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@keyframes shadow-drop-2-center {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-box-shadow: 0 0 0 0 transparent;
        box-shadow: 0 0 0 0 transparent
    }

    100% {
        -webkit-transform: translateZ(50px);
        transform: translateZ(50px);
        -webkit-box-shadow: 0 0 20px 0 gray;
        box-shadow: 0 0 20px 0 gray;
    }
}
